body{
margin:0;
overflow:hidden;
background:black;
}

video{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:1;
}

#threeCanvas{
position:absolute;
top:0;
left:0;
z-index:2;
}

#drawCanvas{
position:absolute;
top:0;
left:0;
z-index:3;
pointer-events:none;
}
